@import "colors.less";
@import "varibles.less";
@import "card.less";

html, body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  padding-top: 20px;
  padding-bottom: 20px;
  background: url('http://i.imgur.com/QazwqRU.jpg');
  background-size: cover;
  background-position:center center;
  background-repeat: no-repeat;

}

.navbar {
  margin-bottom: 20px;
}
