@import "varibles.less";
@import "card.less";
@import "sidebar.less";
@import "header.less";

html, body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
//  background: url('http://i.imgur.com/QazwqRU.jpg');
  background-color: #f5f7fa;
  background-size: cover;
  background-position:center center;
  background-repeat: no-repeat;
}


.alert{
  border-radius: 0px;
  margin-bottom: 0px;
}

.main-content{
  position: absolute;
  left: 0px;
  right: 0px;
  bottom:0px;
  padding-top: 15px;
  padding-left: 30px;
  padding-right: 30px;
  top:50px;
}
.navbar-default {
    box-sizing: border-box;
    //background: linear-gradient(to bottom, rgba(157, 220, 147, 0.1), rgba(157, 220, 147, 0)), linear-gradient(to right, #49A23B, #2D841F);
    background-image: url("../img/brickwall.png");
    font-family: sans-serif;
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    padding: 0 15px;
    height: 50px;
    color: white;
    -webkit-user-select: none;
    font-family: benton-sans, 'Helvetica Neue', sans-serif;
  }

@media(max-width:768px) {
  .navbar-collapse {
    //background: linear-gradient(to bottom, rgba(157, 220, 147, 0.1), rgba(157, 220, 147, 0)), linear-gradient(to right, #49A23B, #2D841F);
    background-image: url("../img/brickwall.png");
  }
  .navbar-nav {
    margin: 0px -15px;
  }
}