.card {
  /***** Make height equal to width (http://stackoverflow.com/a/6615994) ****/
  display: inline-block;
  position: relative;
  width: 100%;
  /**************************************************************************/
  border-radius: 2px;
  color: rgba(0,0,0, 0.87);
  background: #fff;
}
.card .card-height-indicator {
  margin-top: 100%;
}
.card .card-content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.card .card-image {
  height: 60%;
  position: relative;
  overflow: hidden;
}
.card .card-image img {
  width: 100%;
  height: 100%;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  pointer-events: none;
}
.card .card-image .card-image-headline {
  position: absolute;
  bottom: 16px;
  left: 18px;
  color: #fff;
  font-size: 2em;
}
.card .card-body {
  height: 30%;
  padding: 18px;
}
.card .card-footer {
  height: 10%;
  padding: 18px;
}
.card .card-footer button,
.card .card-footer a {
  margin: 0 !important;
  position: relative;
  bottom: 25px;
  width: auto;
}
.card .card-footer button:first-child,
.card .card-footer a:first-child {
  left: -15px;
}
#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
#wrapper.toggled {
  padding-left: 250px;
}
.sidebar-logo {
  width: 100%;
  height: 50px;
  background-color: #4caf50;
  display: inline-flex;
  color: #ffffff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.sidebar-logo h3 {
  line-height: 50px;
  margin-top: 0px;
}
.logo {
  width: 50px;
  height: 50px;
  padding: 5px;
}
#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  overflow-x: hidden;
  background: linear-gradient(rgba(30, 120, 208, 0.45), rgba(83, 60, 225, 0.45)), url(../img/sidebar-5.jpg);
  background-size: cover;
  background-position: center center;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  opacity: .77;
}
#wrapper.toggled #sidebar-wrapper {
  width: 250px;
}
#page-content-wrapper {
  width: 100%;
  position: absolute;
}
#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -200px;
}
/* Sidebar Styles */
.sidebar-nav {
  position: absolute;
  top: 50px;
  width: 250px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  list-style: none;
}
.sidebar-nav li {
  line-height: 50px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.sidebar-nav li a span {
  width: 50px;
  text-align: center;
}
.sidebar-nav li a {
  display: block;
  text-decoration: none;
  font-size: 14px;
  color: #ffffff;
  font-weight: 400;
}
.sidebar-nav li a:hover {
  text-decoration: none;
  color: #999;
  background: rgba(255, 255, 255, 0.2);
}
.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}
.sidebar-nav > .sidebar-brand {
  height: 50px;
  font-size: 18px;
  line-height: 50px;
  background-color: #7FA9A5;
}
.sidebar-nav > .sidebar-brand a {
  color: #ffffff;
}
.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}
@media (min-width: 768px) {
  #wrapper {
    padding-left: 250px;
  }
  #wrapper.toggled {
    padding-left: 50px;
  }
  #sidebar-wrapper {
    width: 250px;
  }
  #wrapper.toggled #sidebar-wrapper {
    width: 50px;
  }
  #page-content-wrapper {
    position: relative;
  }
  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
  }
}
.header {
  width: 100%;
  height: 50px;
  background-color: #ffffff;
}
header {
  background: #ffffff none repeat scroll 0 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: inline-block !important;
  line-height: 23px;
  padding: 15px;
  transition: all 0.5s ease 0s;
  width: 100%;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  height: 50px;
}
.navbar-toggle {
  display: block !important;
  margin: 0px !important;
  padding: 0px !important;
}
.navbar-toggle:hover .icon-bar {
  background-color: red !important;
}
.navi a {
  border-bottom: 1px solid #0d172e;
  border-top: 1px solid #0d172e;
  color: #ffffff;
  display: block;
  font-size: 17px;
  font-weight: 500;
  padding: 28px 20px;
  text-decoration: none;
}
.navi i {
  margin-right: 15px;
  color: #5584ff;
}
.navi .active a {
  background: #122143;
  border-left: 5px solid #5584ff;
  padding-left: 15px;
}
.navi a:hover {
  background: #122143 none repeat scroll 0 0;
  border-left: 5px solid #5584ff;
  display: block;
  padding-left: 15px;
}
.navbar-default {
  background-color: #ffffff;
  border-color: #ffffff;
}
.navbar-toggle {
  border: none;
}
.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
  background-color: rgba(0, 0, 0, 0);
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #0e1a35;
}
html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
body {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.navbar {
  margin-bottom: 20px;
}
#loginbox {
  width: 300px;
  position: fixed;
  top: 25%;
  left: calc(50% - 150px);
}
.iconmelon {
  display: block;
  margin: auto;
}
#form > div {
  margin-bottom: 25px;
}
#form > div:last-child {
  margin-top: 10px;
}
.panel {
  background-color: transparent;
}
.panel-body {
  padding-top: 30px;
  background-color: rgba(255, 255, 255, 0.3);
}
.iconmelon,
.im {
  position: relative;
  width: 150px;
  height: 150px;
  display: block;
  fill: #525151;
}
.iconmelon:after,
.im:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
